* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

body {
    background-color: rgb(251, 237, 217);
    color:rgb(66, 46, 23);
    font-family: 'Open Sans', sans-serif;

    display: grid;
    grid-template-columns: 8rem 5fr;
    grid-gap: 10px;
}

img {
    width: 100px;
    border-radius: 50%;
}

.logo {
    width: 50px;
}

article {
    background-color: white;
    height: 400px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

article:hover {
    box-shadow: 0px 10px 13px 5px rgb(66, 46, 23, 0.1);
}

article div {
    text-align: center;
    padding: 30px;
}

h2 {
    padding-bottom: 10px;
}

p {
    text-transform: uppercase;
    padding-bottom: 10px;
}

article a {
    border-top: 2px solid rgba(95, 70, 42, 0.312);
    padding-top: 20px;
    text-decoration: none;
    color:rgb(66, 46, 23);
}

article a:hover {
    background-color: rgb(251, 237, 217);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    box-shadow: 0px 10px 13px 5px rgb(66, 46, 23, 0.1);
}

nav {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

nav li,a {
    text-decoration: none;
    list-style: none;
    color:rgb(66, 46, 23);
    margin-top: 20px;
}

nav a:hover {
    color: rgb(93, 176, 181);
}

/* Computer screen */

#container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 30px;
    padding: 50px;
}

/* Tablet screen */

@media only screen and (max-width: 968px) {

    #container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 30px;
        padding: 50px;
    }
}

/* Phone screen */

@media only screen and (max-width: 768px) {

    #container {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-gap: 30px;
        padding: 50px;
    }

    body{
        grid-template-columns: 1fr;
    } 

    nav {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        padding-top: 0px;
    }

    ul {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    #container {
        grid-row: 2 / 2;
        padding-top: 20px;
    }
}